<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <main>
      <section>
        <div class="container">
          <h2>Folders</h2>
          <%- include("partials/folderList.ejs") %>
          <form
            action="/file/upload"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <h3>Upload File</h3>
            </div>
            <div>
              <% if (folders && folders.length!==0) {%>
              <label for="folderLocation">Choose folder to upload to</label>
              <select name="folderLocation" id="folderLocation">
                    <% folders.forEach((folder)=>{%>
                        <option value="<%= folder.id %>">
                            <%= folder.name %>
                        </option>
                    <%})%>
              </select>
              <%}%>
            </div>
            <div>
              <label for="file">Choose file</label>
              <input type="file" id="file" name="file" />
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>

          <form action="/folder/create" method="POST">
            <div>
              <h3>Create Folder</h3>
            </div>
            <div>
              <label for="folderName">Name</label>
              <input type="text" id="folderName" name="folderName" />
            </div>
            
              <label for="folderLocation">Choose parent folder (optional)</label>
              <select name="folderLocation" id="folderLocation">
                <option value="none" selected> </option>
                  <% if (folders && folders.length!==0) {%>
                    <% folders.forEach((folder)=>{%>
                        <option value="<%= folder.name %>">
                            <%= folder.name %>
                        </option>
                    <%})%>
                  <%}%>
              </select>

            <div>
              <button type="submit">Create</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
